<div class="container"> 
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3 class="alert alert-text text-center text-white">Habilidades</h3>
		</div>
		<div class="col-md-6">
			<div class="alert">
				<h4>Marca&ccedil;&atilde;o/Estilo</h4><hr>
				<h6>
					<span><code>Html5</code></span>
					<span class="float-right">
						<i class="fas fa-adjust"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Css3</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
			</div>
			<div class="alert">
				<h4>Frameworks CSS</h4><hr>
				<h6>
					<span><code>Boostrap</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Materialize</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Bulma</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>UIkit</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
			</div>
			<div class="alert">
				<h4>Pr&eacute; Processadores CSS</h4><hr>
				<h6>
					<span><code>Less</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Scss</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-adjust"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
			</div>
		</div>
		<div class="col-md-6">
			<div class="alert">
				<h4>Javascript</h4><hr>
				<h6>
					<span><code>Vanilla</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-adjust"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>jQuery</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Angular</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-adjust"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Vue</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Node</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
			</div>
			<div class="alert">
				<h4>Outros</h4><hr>
				<h6>
					<span><code>Ecmascript 6</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-adjust"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Typescript</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Scrum</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Git</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Regex</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-adjust"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Ionic</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-adjust"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
				<h6>
					<span><code>Mysql</code></span>
					<span class="float-right">
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="far fa-circle"></i>
						<i class="fas fa-circle"></i>
					</span>
				</h6>
			</div>
		</div>
	</div>
</div>

<style>
.row {
	margin-top: 100px;
}
.alert {
	background-color: #FFF;
	border-bottom: solid 4px #2ECC71;
}
.alert-text {
	background-color: #2ECC71;
	margin-bottom: 50px;
}
h4 {
	color: #2ECC71;
}
code {
	color: #878787;
	font-size: 15px;
}
.fa-adjust {
	transform: rotate(180deg);
}
</style>
