<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3 class="alert alert-text text-center text-white">Entre em contato</h3>
		</div>
		<div class="col-md-6 info">
			<h5>Aos Recrutadores</h5><hr>	
			<p><code>Se por ventura achou que meu curr&iacute;culo de alguma forma atende as necessidades de sua vaga, por favor 
			sinta-se livre para entrar em contato comigo atrav&eacute;s dos links abaixo.</code></p>
		</div>
		<div class="col-md-6 info">
			<h5>Aos Devs em geral</h5><hr>
			<p><code>Sintam-se a vontade de me adicionar &agrave;s suas redes de contato, para trocarmos experi&ecirc;ncias e fazer aquele bate-papo.</code></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-3 info links">
			<p class="text-center">
				<a href="https://www.linkedin.com/in/leandro-bezerra-de-andrade" target="_blank" class="link"><i class="fab fa-linkedin"></i></a>
				<a href="https://github.com/leandrobeandrade" target="_blank" class="link"><i class="fab fa-github"></i></a>
				<a href="https://www.behance.net/leandrobea6f0b" target="_blank" class="link"><i class="fab fa-behance-square"></i></a>
				<a href="https://www.facebook.com/leandrade0" target="_blank" class="link"><i class="fab fa-facebook"></i></a>
			</p>
			<hr>
		</div>
	</div>
</div>

<style>
.row {
	margin-top: 100px;
	margin-bottom: 20px;
}
.alert {
	background-color: #2ECC71;
	color: #FFF;
	margin-bottom: 45px;
}
.info {
	padding-top: 20px;
	background-color: #FFF;
	border-bottom: solid 4px #2ECC71;
}
code {
	color: #878787;
	font-size: 15px;
}
.fab {
	font-size: 60px;
	transition: 0.2s linear;
}
.fa-linkedin {
	color: #0073b2;
}
.fa-github {
	color: #000;
}
.fa-behance-square {
	color: #2189e6;
}
.fa-facebook {
	color: #4267b2;
}
.link {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 10px;
	color: red;
	overflow: hidden;
	position: relative;
}
.link:hover i {
	transform: scale(1.3);
}
.link::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #2ECC71;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}
.link:hover::before {
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa {
	0% {
		left: -110%;
		top: 90%;
	}
	50% {
		left: 10%;
		top: 30%;
	}
	100% {
		top: -10%;
		left: -10%;
	}
}

@media (max-width: 575.98px) {
	.info {
		margin: 10px 10px;
	}
	.links{
		margin-top: -100px;
	}
}
</style>