<div class="container">
	<div class="row top">
		<div class="col-md-12">
			<div class="media">
				<div class="media-body text-center">
					<h2 class="mb-3 mt-3 title">Leandro Bezerra de Andrade</h2>
					<p><i class="fas fa-user-circle"></i> Brasileiro | <i class="fas fa-american-sign-language-interpreting"></i> casado | <i class="fas fa-birthday-cake"></i> 35 anos</p>
					<p><i class="fas fa-home"></i> <span class="city">Residente na cidade de</span> Indaiatuba-Sp</p>
					<p><i class="fas fa-envelope"></i> leandrobe.andrade@gmail.com <span class="outch">|</span> <br class="hidden"> <i class="fas fa-phone-volume"></i> (19) 99230-0312</p>
				</div>
			</div>
		</div>	

		<div class="col-md-12 text-center center">
			<div class="col-md-6 offset-md-6 line1"></div>	
			<img src="imgs/perfil.png" alt="Imagem Perfil">
			<div class="col-md-6 offset-md-6 line2"></div>	
		</div>
		
		<div class="col-md-12 bottom">
			<div class="alerts">
				<h2 class="text-center title">Desenvolvedor Front-End</h2>
				<h5 class="mt-3 text-center">
					<code>Desenvolvo na stack Front-End desde que ingressei na área de TI em <time>2017</time>, atuando em empresas no ramo 
						de <bdi>Gestão Eletrônica de Documentos</bdi>. Utilizando principalmente tecnonologias como <b>Bootstrap</b> e 
						<b>jQuery</b> pude então aprender e desenvolver cada vez mais meus conhecimentos. 
						<hr>
						Algum tempo passado, e também devido a trabalho, agora estou me inserindo em outras tecnologias tais como <b>Vue, React</b> 
						e <b>Angular 6</b> principalmente, onde obtive bastante contato por utilizar no meu último emprego.
					</code>
				</h5>
			</div>
		</div>
	</div>

	<div class="row justify-content-center downloads">
		<a class="download" href="imgs/leandro.pdf" download>Baixar Currículo 
			<i class="far fa-file-pdf"></i>
		</a>
	</div>
</div>

<style>
.top {
	margin-top: 100px;
	border-bottom: solid 4px #2ECC71;
	background-color: #FFF;
}
p {
	color: #424242;
}
.outch {
	display: inline-block;
}
.hidden {
	display: none;
}
.title {
	color: #2ECC71;
}
.title::after {
	content: "";
	background-color: currentColor;
	width: 130px;
	height: 2px;
	display: block;
	margin: 0 auto;
}
img {
	max-width: 150px;
	min-height: 150px;
	border: solid 2px #2ECC71;
	border-radius: 80%;
}
.line1, .line2 {
	height: 60px;
	border-left: solid 2px #2ECC71;
}
.bottom {
	margin-top: 15px;
}
.download {
	margin-top: 50px;
	background: #2ECC71;
	color:  #FFF;
	padding: 10px;
	border: solid 1px #2ECC71;
	cursor: pointer;
}
.download:hover {
	text-decoration: none !important;
	color: #2ECC71;
	background-color: #FFF;
}
code {
	color: #424242;
}

@media (max-width: 763px) { 
	.top {
		margin-top: 100px;
		margin-left: 2px; 
		margin-right: 2px; 
	}
	.center {
		display: none;
	}
	.outch {
		visibility: hidden;
		margin-bottom: 15px;
	}
	h2 {
		font-size: 25px;
	}
	.hidden {
		display: block;
	}
	.downloads {
		margin-bottom: 15px;
	}
	.city {
		display: none;
	}
}
</style>
