<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  	<strong>Olá,</strong> muito obrigado por visitar minha página e poder conhecer um pouco mais sobre mim e minha vida profissional.
			  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
			</div>
			<div class="media">
				<img src="imgs/teste.png" class="mr-3" alt="Imagem Perfil">
				<div class="media-body text-center">
					<h2 class="mb-3">Leandro Bezerra de Andrade</h2>
					<p><i class="fas fa-user-circle"></i> Brasileiro | <i class="fas fa-american-sign-language-interpreting"></i> casado | <i class="fas fa-birthday-cake"></i> 34 anos</p>
					<p><i class="fas fa-home"></i> Residente na cidade de Indaiatuba-Sp</p>
					<p><i class="fas fa-envelope"></i> leandrobe.andrade@gmail.com | <i class="fas fa-phone-volume"></i> (19) 99230-0312</p>
				</div>
			</div>
			<div class="alerts">
				<h2 class="text-center">Um pouco mais:</h2>
				<hr>
				<h5>
					<code>Sou desenvolvedor e venho trabalhando nesta área a pouco mais de um ano. <br>
					Sempre desenvolvendo na stack Front-End, onde realmente me encontrei e posso exercer minha função 
					com muito prazer. <br><br>
					Procuro sempre que possível me atualizar quanto as novas tecnologias que surgem através de cursos e buscando informações na web.</code>
				</h5>
			</div>
		</div>
	</div>
</div>

<style>
.row {
	margin-top: 100px;
	margin-bottom: 20px;
}
.media {
	background-color: #FFF;
	padding-top: 15px;
	border-bottom: solid 4px #2ECC71;
}
img {
	max-width: 200px;
	max-height: 200px;
}
p {
	color: #878787;
}
.alerts {
	background-color: #FFF;
	margin-top: 50px;
	border-bottom: solid 4px #2ECC71;
	padding: 15px;
}
code {
	color: #878787;
}

@media (max-width: 575.98px) { 
	img {
		display: none;
	}
}
</style>