<nav class="navbar navbar-expand-lg fixed-top"> 
    
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
            <li class="nav-item home active">
                <a class="nav-link" onclick="linkHome()">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item sobre">
                <a class="nav-link" onclick="linkSobre()">Sobre</a>
            </li>
            <li class="nav-item conhec">
                <a class="nav-link" onclick="linkConhec()">Conhecimentos</a>
            </li>
            <li class="nav-item contato">
                <a class="nav-link" onclick="linkContato()">Contato</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand mr-auto mr-lg-0 text-right">leandrobeandrade</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
</nav>
                                                    <!-- CSS -->
<style>
.navbar {
    background-color: #343a40;
    color: #FFF;
}
.active {
    color: #7DCEA0;
}
.nav-link {
    cursor: pointer;
}
.text-right {
    color: #FFF !important;
}
.navbar-toggler {
    color: #FFF !important;
    margin-top: 10px;
    outline: none !important;
}
</style>
