<div class="container"> 
	<div class="row">
		<div class="col-md-6 formacao">
			<div class="alert">
				<h3 class="alert alert-text text-center text-white">Forma&ccedil;&atilde;o</h3>
				<p><b><i class="far fa-file-alt"></i> Curso:</b> An&aacute;lise e Desenvolvimento de Sistemas (Tecn&oacute;logo)</p>
				<p><b><i class="far fa-clock"></i> Per&iacute;odo de forma&ccedil;&atilde;o:</b> 02/2015 - 03/2017</p>
				<p><b><i class="fas fa-building"></i> Institui&ccedil;&atilde;o:</b> Centro Universit&aacute;rio Internacional Uninter</p>
			</div>
			<hr>
			<div class="alert">
				<h3 class="alert alert-text text-center text-white">Cursos</h3>
				<p><b><i class="far fa-file-alt"></i> - Construindo aplica&ccedil;&otilde;es Web com Angular (Andamento)</b></p>
				<ul>
					<li><b>Dura&ccedil;&atilde;o:</b> 15:55 horas</li>
					<li><b>Aulas:</b> 133</li>
					<li><b>Institui&ccedil;&atilde;o:</b> Udemy</li>
				</ul>
				<p><b><i class="far fa-file-alt"></i> - Curso Completo de JavaScript Moderno - ES6 (Conclu&iacute;do)</b></p>
				<ul>
					<li><b>Dura&ccedil;&atilde;o:</b> 3:50 horas</li>
					<li><b>Aulas:</b> 46</li>
					<li><b>Instiui&ccedil;&atilde;o:</b> Udemy</li>
				</ul>
				<p><b><i class="far fa-file-alt"></i> - Web Designer/Web Master (Conclu&iacute;do)</b></p>
				<ul>
					<li><b>Dura&ccedil;&atilde;o:</b> 152:00 horas</li>
					<li><b>Aulas:</b> ---</li>
					<li><b>Institui&ccedil;&atilde;o:</b> Compuway Ltda</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 exper">
			<div class="alert">
				<h3 class="alert alert-text text-center text-white">Experi&ecirc;ncia</h3>
				<p><b><i class="fas fa-city"></i> 1Novo Tecnologia</b></p>
				<ul>
					<li><b>Fun&ccedil;&atilde;o:</b> Desenvolvedor Front-End</li>
					<li><b>Atividade:</b> Desenvolvimento de aplica&ccedil;&otilde;es web.</li>
					<li><b>Ferramentas:</b> Html5 - Scss - Angular 7</li>
					<li><b>Per&iacute;odo:</b> 03/2019 - Atual</li>
				</ul>
				<hr>
				<p><b><i class="fas fa-city"></i> Synvia - Pesquisas</b></p>
				<ul>
					<li><b>Fun&ccedil;&atilde;o:</b> Desenvolvedor Front-End</li>
					<li><b>Atividade:</b> Desenvolvimento de aplica&ccedil;&otilde;es para uso externo e interno da empresa.</li>
					<li><b>Ferramentas:</b> Html5 - Scss - Angular 5 - Ioinic 3</li>
					<li><b>Per&iacute;odo:</b> 11/2018 - 02/2019</li>
				</ul>
				<hr>
				<p><b><i class="fas fa-city"></i> EARQ Consultoria</b></p>
				<ul>
					<li><b>Fun&ccedil;&atilde;o:</b> Desenvolvedor Front-End</li>
					<li><b>Atividade:</b> Desenvolvimento de aplica&ccedil;&otilde;es web para gest&atilde;o eletr&ocirc;nica de documentos.</li>
					<li><b>Ferramentas:</b> Html5 - Css3 - Boostrap 4 - jQuery - Ajax</li>
					<li><b>Per&iacute;odo:</b> 09/2017 - 03/2018</li>
				</ul>
			</div>	
		</div>
	</div>
</div>

<style>
.row {
	margin-top: 100px;
}
.alert {
	background-color: #FFF;
	border-bottom: solid 4px #2ECC71;
}
.alert-text {
	background-color: #2ECC71;
}

@media (max-width: 763px) { 
	hr {
		display: none;
	}
}
</style>
