<div class="container">
	<div class="row">
		<div class="col formacao">
			<h3 class="alert alert-warning text-center">Formação</h3>
			<div class="alert alert-info">
				<p><b>Formação:</b> Análise e Desenvolvimento de Sistemas (Tecnólogo)</p>
				<p><b>Período de formação:</b> 2015/2017</p>
			</div>
		</div>
		<div class="col exper">
			<h3 class="alert alert-warning text-center">Formação</h3>
			<div class="alert alert-success">
				<p><b>Formação:</b> Análise e Desenvolvimento de Sistemas (Tecnólogo)</p>
				<p><b>Período de formação:</b> 2015/2017</p>
			</div>	
		</div>
	</div>
</div>

<style>
.row {
	margin-top: 100px;
}
</style>